<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BK Bank</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="withdraw-deposit">
                <span class="bi bi-database" aria-hidden="true"></span> Withdraw & Deposit
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <button class="nav-link btn btn-toggle align-items-center"
                @onclick="ToggleAccountsMenu"
                style="background:none; border:none; color:white; text-align:left; width:100%;">
                <span class="bi bi-wallet" aria-hidden="true"></span> Accounts
                <span class="bi @(showAccountsMenu ? "bi-chevron-up" : "bi-chevron-down") float-end"></span>
            </button>

            @if (showAccountsMenu)
            {
                <nav class="nav flex-column ms-4 sub-menu">
                    <NavLink class="nav-link nav-link-sub" href="myAccounts">
                        <span class="bi bi-person-lines-fill" aria-hidden="true"></span> My Accounts
                    </NavLink>
                    <NavLink class="nav-link nav-link-sub" href="accounts">
                        <span class="bi bi-plus-circle" aria-hidden="true"></span> New Account
                    </NavLink>
                    <NavLink class="nav-link nav-link-sub" href="newTransaction">
                        <span class="bi bi-repeat" aria-hidden="true"></span> Account transaction
                    </NavLink>
                </nav>
            }
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="history">
                <span class="bi bi-clock-history" aria-hidden="true"></span> History
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="https://learn.microsoft.com/aspnet/core/" target="_blank" rel="noopener noreferrer">
                <span class="bi bi-info-circle" aria-hidden="true"></span> About (External link)
            </a>
        </div>

        

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool showAccountsMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleAccountsMenu()
    {
        showAccountsMenu = !showAccountsMenu;
    }
}
