<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BK Bank</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="withdraw-deposit">
                <span class="bi bi-wallet" aria-hidden="true"></span> Withdraw & Deposit
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="myAccounts">
                <span class="bi bi-wallet" aria-hidden="true"></span> My accounts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="accounts">
                <span class="bi bi-plus-circle" aria-hidden="true"></span> New account
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="newTransaction">
                <span class="bi bi-database" aria-hidden="true"></span> New Transaction
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="history">
                <span class="bi bi-clock-history" aria-hidden="true"></span> History
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="https://learn.microsoft.com/aspnet/core/" target="_blank" rel="noopener noreferrer">
                <span class="bi bi-info-circle" aria-hidden="true"></span> About (External link)
            </a>
        </div>

        

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
