.navbar-toggler {
    background-color: rgba(50, 50, 150);
}

.top-row {
    height: 3.5rem;
    background-color: #306D66;
}

.navbar-brand {
    font-size: 1.1rem;
}

.bi {
    display: inline-block;
    position: relative;
    width: 2rem;
    margin-right: 1rem;
    background-size: cover;

}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    align-items: center;
}

.nav-item .bi {
    font-size: 1.2rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item ::deep a {
    color: white;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item ::deep a.active {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

/* Sub-menu*/
.nav-link-sub {
    white-space: nowrap;      
    overflow: hidden;         
    text-overflow: ellipsis;  
    line-height: 1.2;         
    padding-top: 4px;         
    padding-bottom: 4px;
    display: flex;            
    align-items: center;      
    color: white;             
    text-decoration: none;   
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

.nav .sub-menu .nav-link.nav-link-sub {
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  text-decoration: underline;
  line-height: 1.2;
  display: block;
}
